

.capt {

    margin-top: -55%;
}

.capt > img {
    margin: 3%;
    width: 80%;
}

.navbar-brand {
    font-family: 'Damion', cursive;
    font-size: 50px;
    color: #ffffff;
}

#sec2 {
    min-height: 1000px;
    background-color: #b24a50;
    background-image: url("../images/sec-2-xax.png");
    text-align: center;
}
#sec2  h1 {
    font-family: 'Lato', Light;
    font-size: 60px;
    margin-top: 160px;
    margin-bottom: 50px;
}
#sec2 h3 {
    font-family: 'Lato', Light;
    font-size: 30px;
}
#sec2  h1,#sec2 h3, #sec2 h4 {
    color: #ffffff;
    text-transform: uppercase;
}
#sec2   p {
    color: #ffcccf;

}




#sec3 {
    min-height: 1000px;
    background-color: #665464;
    background-image: url("../images/sec-3-xax.png");
    text-align: center;
}
#sec3  h1 {
    font-family: 'Lato', Light;
    font-size: 60px;
    margin-top: 160px;
    margin-bottom: 50px;
}
#sec3  h1,#sec3  h3 {
    color: #ffffff;
    text-transform: uppercase;
}
#sec3 h3 {
    font-family: 'Lato', sans-serif;
    font-size: 25px;
}
#sec3  h1 + p {
    color: #ffcccf;

}
#sec3 .row > img {
    margin-top: 50px;

}
.sec3 {
    background-color:#544552;
    opacity: .5;
    border: none;
    margin-top: 70px;
cursor: pointer;
}
.sec3:hover {
    opacity: .9;
}
.sec3 > img {
    border-radius: 50%;
    border: 2px solid red;
    margin-top: 60px
}
.sec3  p {
    color: gold;
}
.sec3:hover  p {
    color: orangered;
}

.sec3 li {
    display: inline-block;
    border-radius: 50%;
    margin-right: 10%;
}
.sec3 li img {
    border-radius: 50%;
}
.sec3 ul {
    display: inline-flex;
    padding: 0;
    margin-right: 10%;
}





#sec4 {
    min-height: 1000px;
     background-color: #81a256;
    background-image: url("../images/sec-4-xax.png");
    text-align: center;
    color: #ffffff;
 }

#sec4  h1 {
    font-family: 'Lato', Light;
    font-size: 60px;
    margin-top: 160px;
    text-transform: uppercase;
}
#sec4  h1 + p {

}
#sec4   h5 {
    float: left;
}
#sec4 ul {

    padding: 0;

    float: right;

}
#sec4 li {
    display: inline-block;
    margin-left: 10px;
    padding: 3px;
}
#sec4 ul a{
    text-decoration: none;
    color: #ffffff;

}
#sec4 ul li:hover {
    background-color: gold;
}
#sec4 img {
    width: 100%;
}




#sec5 {
    min-height: 843px;
    background-color: #75b4aa;
    background-image: url("../images/sec-5-xax.png");
    color: #ffffff;
}
#sec5  h1 {
    font-family: 'Lato', Light;
    font-size: 60px;
    margin-top: 160px;
    text-transform: uppercase;

}
#sec5 h5, #sec5 h4 {
    font-family: 'Lato', Light;
}
.sec5-head   {
    color: #ffffff;
    text-align: center;
}
#sec5 li {
    color: #ffffff;
    list-style-type: none;
}

.address {
    margin-left: 0;
    padding-left: 0;
}
#sec5 span {
    color: #5e5e5e;
}
.map iframe {
    height: 100%;
    width: 100%;
}
#sec5 input, #sec5 textarea {
    border-radius: 10px;
    /*width: 100%;*/
}
#name1 {
    background-color: #68a097;
    color: #ffffff;
}
.input-group {
    width: 100%;
}
#sec5 textarea {
    background-color: #68a097;
    color: #ffffff;
    min-height: 120px;
}
#send {
    background-color: coral;
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    border-radius: 10px;
}
#send:hover {
    background-color: red;
    color: gold;
    box-shadow: 2px 4px gray;
    cursor: pointer;
}
#footer  li{
    display: inline-block;
    background-color: white;
    margin-right: 10px;
    border-radius: 50%;
}
#footer img {
border-radius: 50%;

}
#footer ul {

    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
#footer-bg {

    background-color: dimgrey;
    opacity: .6;

}


